

#red-ui-clipboard-dialog-import-conflicts-list .disabled .red-ui-info-outline-item {
	opacity: 0.4
}

.red-ui-info-outline,
.red-ui-sidebar-help-toc {
	display: flex;
	flex-direction: column
}

.red-ui-info-outline .red-ui-treeList,
.red-ui-sidebar-help-toc .red-ui-treeList {
	flex-grow: 1;
	position: relative
}

.red-ui-info-outline .red-ui-treeList-container,
.red-ui-sidebar-help-toc .red-ui-treeList-container {
	position: absolute;
	top: 0;
	bottom: 0
}

.red-ui-info-outline .red-ui-treeList-container,
.red-ui-info-outline .red-ui-editableList-border,
.red-ui-sidebar-help-toc .red-ui-treeList-container,
.red-ui-sidebar-help-toc .red-ui-editableList-border {
	border: none;
	border-radius: 0
}

.red-ui-info-outline .red-ui-info-outline-project,
.red-ui-sidebar-help-toc .red-ui-info-outline-project {
	border-bottom: 1px solid #ddd
}

.red-ui-info-outline .red-ui-info-outline-item,
.red-ui-sidebar-help-toc .red-ui-info-outline-item,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item {
	display: inline-block;
	padding: 0;
	font-size: 13px;
	border: none
}

.red-ui-info-outline .red-ui-info-outline-item .red-ui-palette-icon-fa,
.red-ui-sidebar-help-toc .red-ui-info-outline-item .red-ui-palette-icon-fa,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item .red-ui-palette-icon-fa {
	position: relative;
	top: 1px;
	left: 0px
}

.red-ui-info-outline .red-ui-info-outline-item:hover,
.red-ui-sidebar-help-toc .red-ui-info-outline-item:hover,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item:hover {
	background: inherit
}

.red-ui-info-outline .red-ui-info-outline-item.red-ui-info-outline-item-flow .red-ui-search-result-description,
.red-ui-sidebar-help-toc .red-ui-info-outline-item.red-ui-info-outline-item-flow .red-ui-search-result-description,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item.red-ui-info-outline-item-flow .red-ui-search-result-description {
	margin-left: 4px
}

.red-ui-info-outline .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node,
.red-ui-sidebar-help-toc .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node {
	background: none;
	border-color: transparent
}

.red-ui-info-outline .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-container,
.red-ui-sidebar-help-toc .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-container,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-container {
	background: none
}

.red-ui-info-outline .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-fa,
.red-ui-sidebar-help-toc .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-fa,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item.red-ui-info-outline-item-group .red-ui-search-result-node .red-ui-palette-icon-fa {
	color: #888;
	font-size: 18px
}

.red-ui-info-outline .red-ui-info-outline-item.red-ui-info-outline-item-empty,
.red-ui-sidebar-help-toc .red-ui-info-outline-item.red-ui-info-outline-item-empty,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-info-outline-item.red-ui-info-outline-item-empty {
	font-style: italic;
	color: #aaa
}

.red-ui-info-outline .red-ui-treeList-label,
.red-ui-sidebar-help-toc .red-ui-treeList-label,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-treeList-label {
	font-size: 13px;
	padding: 2px 0;
	overflow: hidden
}

.red-ui-info-outline .red-ui-search-result-node,
.red-ui-sidebar-help-toc .red-ui-search-result-node,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-search-result-node {
	width: 24px;
	height: 20px;
	margin-top: 1px
}

.red-ui-info-outline .red-ui-palette-icon-container,
.red-ui-sidebar-help-toc .red-ui-palette-icon-container,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-palette-icon-container {
	width: 24px
}

.red-ui-info-outline .red-ui-palette-icon,
.red-ui-sidebar-help-toc .red-ui-palette-icon,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-palette-icon {
	width: 20px
}

.red-ui-info-outline .red-ui-search-result-description,
.red-ui-sidebar-help-toc .red-ui-search-result-description,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-search-result-description {
	margin-left: 32px;
	line-height: 22px;
	white-space: nowrap
}

.red-ui-info-outline .red-ui-search-result-node-label,
.red-ui-sidebar-help-toc .red-ui-search-result-node-label,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-search-result-node-label {
	color: #888
}

.red-ui-info-outline-item-control-spacer {
	display: inline-block;
	width: 23px
}

.red-ui-info-outline-gutter {
	display: none
}

.red-ui-info-outline-gutter button {
	position: absolute;
	top: 1px;
	left: 2px
}

.red-ui-treeList-label:hover .red-ui-info-outline-gutter {
	display: inline
}

.red-ui-info-outline-item-controls {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	padding: 2px 3px 0 1px;
	text-align: right;
	background: #fff
}

.red-ui-treeList-label:hover .red-ui-info-outline-item-controls {
	background: #e6e6e6
}

.red-ui-treeList-label.selected .red-ui-info-outline-item-controls {
	background: #ffebc7
}

.red-ui-info-outline-item-controls.red-ui-info-outline-item-hover-controls button {
	min-width: 23px
}

.red-ui-treeList-label:not(:hover) .red-ui-info-outline-item-controls.red-ui-info-outline-item-hover-controls button {
	border: none;
	background: none
}

.red-ui-info-outline-item-controls .red-ui-info-outline-item-control-reveal,
.red-ui-info-outline-item-controls .red-ui-info-outline-item-control-action {
	display: none
}

.red-ui-treeList-label:hover .red-ui-info-outline-item-controls .red-ui-info-outline-item-control-reveal,
.red-ui-treeList-label:hover .red-ui-info-outline-item-controls .red-ui-info-outline-item-control-action {
	display: inline-block
}

.red-ui-info-outline-item-controls .fa-ban {
	display: none
}

.red-ui-info-outline-item.red-ui-info-outline-item-disabled .red-ui-info-outline-item-controls .fa-ban {
	display: inline-block
}

.red-ui-info-outline-item.red-ui-info-outline-item-disabled .red-ui-info-outline-item-controls .fa-circle-thin {
	display: none
}

.red-ui-info-outline-item-controls button {
	margin-right: 3px
}

.red-ui-info-outline-item-disabled .red-ui-search-result-node {
	opacity: 0.4
}

.red-ui-info-outline-item-disabled .red-ui-info-outline-item-label {
	font-style: italic;
	color: #bbb
}

.red-ui-info-outline-item-disabled .red-ui-icons-flow {
	opacity: 0.4
}

.red-ui-editor-type-json-editor .red-ui-treeList-container {
	background: #fff
}

.red-ui-editor-type-json-editor .red-ui-treeList-label {
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
	min-height: 35px
}

.red-ui-editor-type-json-editor .red-ui-treeList-label .red-ui-treeList-icon:before {
	content: '';
	display: inline-block;
	height: 35px;
	vertical-align: middle
}

.red-ui-editor-type-json-editor .red-ui-treeList-label>span,
.red-ui-editor-type-json-editor .red-ui-treeList-label>span>span {
	vertical-align: middle
}

.red-ui-editor-type-json-editor .red-ui-treeList-label:hover,
.red-ui-editor-type-json-editor .red-ui-treeList-label:hover .red-ui-treeList-sublabel-text {
	background: #f9f9f9
}

.red-ui-editor-type-json-editor .red-ui-treeList-label:hover .red-ui-editor-type-json-editor-item-gutter>span,
.red-ui-editor-type-json-editor .red-ui-treeList-label:hover .red-ui-editor-type-json-editor-item-gutter>button,
.red-ui-editor-type-json-editor .red-ui-treeList-label:hover .red-ui-treeList-sublabel-text .red-ui-editor-type-json-editor-item-gutter>span,
.red-ui-editor-type-json-editor .red-ui-treeList-label:hover .red-ui-treeList-sublabel-text .red-ui-editor-type-json-editor-item-gutter>button {
	display: inline-block
}

.red-ui-editor-type-json-editor .red-ui-treeList-label.selected .red-ui-editor-type-json-editor-item-gutter {
	background: #e6e6e6
}

.red-ui-editor-type-json-editor .red-ui-treeList-label.selected:hover .red-ui-editor-type-json-editor-item-gutter {
	background: #efefef
}

.red-ui-editor-type-json-editor .red-ui-treeList-label.red-ui-editor-type-json-root-node .red-ui-editor-type-json-editor-item-gutter>span,
.red-ui-editor-type-json-editor .red-ui-treeList-label.red-ui-editor-type-json-root-node .red-ui-editor-type-json-editor-item-gutter>button {
	display: inline-block
}
.red-ui-library-browser .red-ui-treeList-container {
	background: #fff;
	border: none;
	border-radius: 0
}

.red-ui-library-browser .red-ui-treeList-container li {
	background: none
}

.red-ui-library-browser .red-ui-treeList-container label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.red-ui-library-browser .red-ui-editableList-border {
	border-radius: 0
}

.red-ui-library-browser .red-ui-treeList-label input.red-ui-treeList-input {
	border-radius: 2px;
	margin-top: -6px;
	margin-bottom: -6px
}


.red-ui-info-outline .red-ui-treeList,
.red-ui-sidebar-help-toc .red-ui-treeList {
	flex-grow: 1;
	position: relative
}

.red-ui-info-outline .red-ui-treeList-container,
.red-ui-sidebar-help-toc .red-ui-treeList-container {
	position: absolute;
	top: 0;
	bottom: 0
}

.red-ui-info-outline .red-ui-treeList-container,
.red-ui-info-outline .red-ui-editableList-border,
.red-ui-sidebar-help-toc .red-ui-treeList-container,
.red-ui-sidebar-help-toc .red-ui-editableList-border {
	border: none;
	border-radius: 0
}


.red-ui-info-outline .red-ui-treeList-label,
.red-ui-sidebar-help-toc .red-ui-treeList-label,
#red-ui-clipboard-dialog-import-conflicts-list .red-ui-treeList-label {
	font-size: 13px;
	padding: 2px 0;
	overflow: hidden
}

.red-ui-treeList-label:hover .red-ui-info-outline-gutter {
	display: inline
}

.red-ui-treeList-label:hover .red-ui-info-outline-item-controls {
	background: #e6e6e6
}

.red-ui-treeList-label.selected .red-ui-info-outline-item-controls {
	background: #ffebc7
}

.red-ui-info-outline-item-controls.red-ui-info-outline-item-hover-controls button {
	min-width: 23px
}

.red-ui-treeList-label:not(:hover) .red-ui-info-outline-item-controls.red-ui-info-outline-item-hover-controls button {
	border: none;
	background: none
}

.red-ui-info-outline-item-controls .red-ui-info-outline-item-control-reveal,
.red-ui-info-outline-item-controls .red-ui-info-outline-item-control-action {
	display: none
}

.red-ui-treeList-label:hover .red-ui-info-outline-item-controls .red-ui-info-outline-item-control-reveal,
.red-ui-treeList-label:hover .red-ui-info-outline-item-controls .red-ui-info-outline-item-control-action {
	display: inline-block
}

.red-ui-sidebar-help-toc .red-ui-treeList-label {
	font-size: 13px;
	padding: 2px 0;
	overflow: hidden;
	white-space: nowrap
}
