/* CSS files add styling rules to your content */

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 2em;
  width: 100%;
  max-width: 900px;
}

h1 {
  font-size: 300%;
  color: #8c9eff;
}

h2 {
  margin-top: 64px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 4px solid #8c9eff;
}
pre {
  overflow-x: auto;
  border: none;
  font-size: 14px;
  border: 14px solid #8c9eff;
  padding: 14px;
}

select, button, input {
  font-family: inherit;
  font-size: inherit;
  border: 4px solid #8c9eff;
  background: transparent;
  box-shadow: none;
  margin-bottom: 6px;
}

button {
  cursor: pointer;
  padding: 4px 8px;
}

button.copy {
  background: #8c9eff;
  color: white;
  display: block;
  margin-bottom: -14px;
  width: 80px;
  transition: background 0.2s;
}
button.copy.active {
  border-color: #ff8ccf; 
  background: #ff8ccf;
}

.output {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 24px;
}

.footer {
  margin-top: 64px;
  font-size: 14px;
}